html, body, .container-fluid {
	height: 100%;
	width: 100%;
	background-color: black;
}
.img-row {
	height: 90%;
	display: block;
}
.img-div {
	/*debug: background-color: yellow;*/
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.img-thumb {
	padding-top: 10px;
	max-width: 100%;
	max-height: 100%;
	display: block;
	/*debug: background-color: green;*/
}
.control-row {
	height: 10%;
}
.control-buttons {

	/*position: relative;*/
	margin: auto;
	padding-top: 5px;
}

.height100 {
	height: 100%;
	display: block;
}

.width100 {
	width: 100%;
}
.center {
	margin-left: auto;
	margin-right: auto;
}

#directoryStats {
	color: white;
}